#container {
    width: 300;
    height: auto;
    /*border: 3px solid;
    align-content: center;
    */
}

#Sidebar {}

#Mainbody {
    width: 300px;
}

#Footer {
    width: 300;
    height: auto;
}