#Menu {
    height: 40px;
    background-color: #448aff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#MemuItems ul {
    margin: 0;
    padding: 0;
}

#MenuItems li {
    list-style-type: none;
    color: white;
    float: left;
    display: block;
    width: 75px;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    font-weight: bold;
}

#MenuItems li a {
    text-decoration: none;
    color: white;
}

#Menu li:hover {
    background-color: rgb(142, 165, 236);
    font-size: 14px;
}

#btnLogin input[type="button"] {
    font-size: 12px;
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    font-weight: bold;
    color: white;
    background-color: #448aff;
    border: none;
}

#btnLogin input[type="button"]:hover {
    cursor: pointer;
    font-size: 14px;
    background-color: #448aff;
    padding-bottom: 10px;
    padding-top: 10px;
}

#btnLogin {
    margin: 0 auto;
    align-self: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
 
}

.sticky + main {
  padding-top: 60px;
}